.profile {
  width: 240px;
}
.description {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #e4e9f0;
  border-left: 1px solid #e4e9f0;
  border-right: 1px solid #e4e9f0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: white;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.name {
  color: #1f3349;
  font-weight: bold;
  margin-top: 10px;
}
.tag {
  color: #a1abb6;
  margin-top: 10px;
}
.location {
  color: #a1abb6;
  margin-top: 10px;
}
.stats {
  list-style: none;
  padding: 0px;
  margin: 0px;

  display: flex;
  align-items: center;
  background-color: #f3f6f9;
}
.stats__item {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80px;
  border-top: 1px solid #e4e9f0;
  border-bottom: 1px solid #e4e9f0;
}

.stats__item:nth-child(2) {
  border-left: 1px solid #e4e9f0;
  border-right: 1px solid #e4e9f0;
}

.stats__item:nth-child(1) {
  border-left: 1px solid #e4e9f0;
  border-bottom-left-radius: 5px;
}
.stats__item:nth-child(3) {
  border-right: 1px solid #e4e9f0;
  border-bottom-right-radius: 5px;
}

.label {
  color: #a1abb6;
  display: block;
  text-align: center;
}
.quantity {
  color: #1f3349;
  font-weight: bold;
  display: block;
  text-align: center;
}
