.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
}

.status__on {
  background: green;
}

.status__off {
  background: red;
}

.item {
  width: 250px;
  display: flex;
  align-items: center;
  border: 1px solid #e4e9f0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 0.8),
    23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  border-radius: 5px;
}
.item:nth-child(1) {
  margin-top: 0px;
}

.avatar {
  margin-left: 10px;
}
.name {
  margin-left: 10px;
}
