.statistics {
  width: 400px;
  border-radius: 5px;
  background-color: white;
}
.title {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.stat__list {
  list-style: none;
  padding: 0px;
  margin: 0px;

  display: flex;
  align-items: center;
  background-color: #f3f6f9;
  text-align: center;
}
.item {
  width: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.item:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.item:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.label {
  display: block;
}
.percentage {
  display: block;
}
