.transaction__history {
  width: 360px;
  text-align: center;
  border-collapse: collapse;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 0.8),
    23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.transaction__history thead {
  background-color: #00bcd5;
  color: white;
}

.transaction__history tbody {
  color: #94999f;
}

.transaction__history td {
  border: 1px #e4e4e4 solid;
}
.transaction__history th {
  border: 1px #e4e4e4 solid;
}

.transaction__history tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.transaction__history tbody tr:nth-child(even) {
  background-color: #ecf1f4;
}
